

<div class="example-1">
  <h1>With ControlValue Accessors</h1>
  <mat-card>
    <form #ngForm="ngForm" class="example-form" (submit)="onSubmit(ngForm)">

      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Your Name"
               required
               ngModel
               autocomplete="off"
               name="name" />
        <mat-error formControlItem="name"></mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
    <input matInput
           placeholder="Favorite blog"
           value="Sushi"
           required
           ngModel
           autocomplete="off"
           name="favoriteblog" />
    <mat-error formControlItem="favoriteblog"></mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <ngx-chips-ca placeholder="Enter your Tags..."
                  ngModel
                  [required]="true"
                  name="tags"></ngx-chips-ca>
    <mat-error formControlItem="tags" [errors]="chipErrorMessage"></mat-error>
  </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>List of Phones</mat-label>
        <ngx-phone-list ngModel
                        required
                        name="phones">
        </ngx-phone-list>
        <mat-error formControlItem="phones" [errors]="phoneErrors"></mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <ngx-phone ngModel
                   required
                   name="phone"></ngx-phone>
        <mat-error formControlItem="phone"></mat-error>
      </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Submit</button>
        <!--<button type="submit" mat-raised-button color="primary" [disabled]="ngForm.invalid" >Submit</button>-->
    </form>
  </mat-card>
  
</div>

<div class="example-2">
  <h1>No ControlValue Accessors</h1>
  <mat-card>
    <form #ngFormNone="ngForm" class="example-form" (submit)="onSubmit(ngFormNone)">

      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Your Name"
               required
               ngModel
               autocomplete="off"
               name="name" />
        <mat-error formControlItem="name"></mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Favorite blog"
               value="Sushi"
               required
               ngModel
               autocomplete="off"
               name="favoriteblog" />
        <mat-error formControlItem="favoriteblog"></mat-error>
      </mat-form-field>

        <ngx-chips-none placeholder="Enter your Tags..."
                      [required]="true"></ngx-chips-none>

      <button type="submit" mat-raised-button color="primary" [disabled]="ngFormNone.invalid">Submit</button>
    </form>
  </mat-card>

</div>
